*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 136px;
    padding-top: 24px;

}

.nav-link li{
    display: inline;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 0 136px;
}

.section-service {
    display: flex;
    justify-content: space-between;
    padding: 0 136px;

}
